@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Space+Mono&display=swap');
html {
    scroll-behavior: smooth;
}

#linkedin p {
    position: absolute;
    top: 50px;
}

#github p {
    position: relative;
    top: 50px;
}

p {
    font-size: 20px;
    font-family: 'PT Sans',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
 }

h3 {

     font-family:'PT Sans',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


#linkedin {
    background-color: gray;
}
#github {
    background-color: lightblue;
}

#blog {
    background-color: aliceblue;
}




